# ignore all venv
venv-solidity-projects/

# ignore all compiled files
compiled/

# ignore imported sol libraries
ImportedSolLibraries/

# ignore all internal variables
.env

# and the rest
.vscode

# test files
TEST*

private/
project 6 - DeFi Sec full course/
